{% extends "layout.html" %}

{% block body%}

<div id="classification">
  <a href="/classification/individual" class="chart_class_block_anchor" id="individual_chart_type">
    Individual X
  </a>
  <a href="/classification/moving_R" class="chart_class_block_anchor" id="moving_R_chart_type">
    moving R
  </a>
  <a href="/classification/average" class="chart_class_block_anchor" id="average_chart_type">
    average
  </a>
  <a href="/classification/average" class="chart_class_block_anchor" id="c_chart_type">c</a>
  <a href="/classification/average" class="chart_class_block_anchor" id="u_chart_type">u</a>
  <a href="/classification/average" class="chart_class_block_anchor" id="pn_chart_type">pn</a>
  <a href="/classification/average" class="chart_class_block_anchor" id="p_chart_type">p</a>
</div>

{% endblock %}