<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KKSH START PAGE</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>


    <div id="begin_page_block">
       <h2 class="build_chart_heading">REGISTRATION</h2>
       <form action="/register" class="add_card_form" method="post" enctype=multipart/form-data>
            <div class="input-box">
                <input name="name" id="add_card_form_input_card_name" class="input-name" type="text" autocomplete="off" autofocus required>
                <span>User Name</span>
            </div>

            <div class="input-box">
                <input name="name" class="input-name" type="password" autocomplete="off" autofocus required>
                <span>Your password</span>
            </div>

          <div class="input-box">
                <input name="name" class="input-name" type="email" autocomplete="off" autofocus required>
                <span>Your email</span>
          </div>

            <input type="submit" value="Register">
        </form>
    </div>



</body>
</html>


