<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KKSH START PAGE</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>


    <div id="begin_page_block">
        <h2 class="begin_part_title">Shewhart's charts automated tool</h2>
        <form action="/login" id="login_form" method="post">
            <div class="input-box">
                <input type="text" class="input-name" required>
                <span>User name</span>
            </div>
            <div class="input-box">
                <input type="password" class="input-name" required>
                <span>Password</span>
            </div>

            <div class="begin_part">
                <input class="begin_button" type="submit" value="LOGIN and Start">
            </div>

            <a href="/register">register</a>
        </form>

    </div>



</body>
</html>